<div class="Card">
  <div class="Card-header">
    <div class="Card-rank"><%= rank %></div>
    <div class="<%= suit_classes %>"></div>
  </div>
  <div class="Card-image"></div>
  <div class="Card-footer">
    <div class="Card-rank"><%= rank %></div>
    <div class="<%= suit_classes %>"></div>
  </div>
</div>
