.Card {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 8px;
  width: 128px;
  height: 200px;
  font-family: var(--font-card);
  font-weight: 600;
  padding: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.Card-rank {
  font-size: 24px;
}

.Card-header {
  display: flex;
  flex-direction: column;
}

.Card-footer {
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.Card-footer .Card-rank {
  transform: scale(-1, 1) rotateX(180deg);
}

.Card-footer .Card-suit {
    transform: rotateX(180deg);
}

.Card-suit {
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
}

.Card--spades {
  background-image: url("/spade.svg");
}

.Card--hearts {
  background-image: url("/heart.svg");
}

.Card--diamonds {
  background-image: url("/diamond.svg");
}

.Card--stars {
  background-image: url("/star.svg");
}

.Card--clubs {
  background-image: url("/club.svg");
}
